Source: btk-core
Priority: extra
Maintainer: Alexandre Tuleu <alexandre.tuleu.2005@polytechnique.org>
Build-Depends: debhelper (>= 8.0.0), cmake, git, doxygen, graphviz
Standards-Version: 3.9.3
Section: libs
Homepage: https://code.google.com/p/b-tk/
Vcs-Git: https://code.google.com/p/b-tk.core/


Package: btk-core-dev
Section: libdevel
Architecture: any
Depends: btk-core0.3 (= ${binary:Version}), ${misc:Depends}
Description: Biomechanical ToolKit (BTK) - Development Files
 BTK is an open-source and cross-platform library for biomechanical
 analysis. BTK read and write acquisition files and can modify them.
 .
 This package contains the necessary files for the C++ API

Package: btk-core0.3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Biomechanical ToolKit (BTK) - Runtime
 BTK is an open-source and cross-platform library for biomechanical
 analysis. BTK read and write acquisition files and can modify them.
 .
 This package contains the necessary files for the C++ Runtime

Package: btk-core-doc
Section: doc
Architecture: all
Suggests: btk-core-dev
Depends: ${misc:Depends}
Description: Biomechanical ToolKit (BTK) - API Doc
 BTK is an open-source and cross-platform library for biomechanical
 analysis. BTK read and write acquisition files and can modify them.
 .
 This package contains all the documentation of the C++ API

Package: btk-core0.3-dbg
Section: debug
Architecture: any
Depends: btk-core0.3 (= ${binary:Version}), ${misc:Depends}
Suggests: btk-core-dev
Description: Biomechanical ToolKit (BTK) - Debug Symbols
 BTK is an open-source and cross-platform library for biomechanical
 analysis. BTK read and write acquisition files and can modify them.
 .
 This package contains all the C++ debug symbols
